@charset "UTF-8";
.container{
   
    width: 100%;
    min-height:100vh;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows:auto;
}
.side-bar{
   border: 1px solid lightgray;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   row-gap: 10px;
}
.derf-t{
    padding: 10px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(50, 33, 158)
}
.container{
   
}
